<html>
	<head>
		<title>View Enrollment</title>
		<link rel="stylesheet" type="text/css" href="style/cameron.css" />
		<script type="text/javascript" src="js/registration.js"></script>
	</head>

	<body onload="getSections()">
		<div class="container">
			<div class="header"></div>
			<div class="menu"></div>
			<div class="content">
				<form name="viewRoll" method="post" action="FacultyViewEnrollment">
					<select name="section_list">
						<option>Section</option>
					</select>
				</form>
			</div>
		</div>
	</body>
</html>
